*{
    margin: 0;
    padding: 0;
    list-style: none;
}

.imgbox{
    position: relative;
    width: 1200px;
    margin: 0 auto;
}
body{
    background-color: #080e1a;
    height: auto;
}
.header{
    background: linear-gradient(to right,#010206,#020d23);
}
.header img{
    margin: 0 auto;
    display: block;
    width: 1200px;
}
.nav{
    width: 100%;
    background: linear-gradient(to right,#010206,#020d23);
    /* background-color: #010206; */
    position: fixed;
    bottom: 0;
    height: 50px;
    opacity: 1;
    z-index: 999;
}

.texts{
    font-size: 16px;
    width: 80%;
    text-align: center;
}
.nav li{
    color: #abc;
    float: left;
    padding: 0px 30px 0 30px;
    cursor: pointer;
    line-height: 50px;
}
.nav li:nth-child(1){
    padding-left: 0;
}
.nav li a{
    color: #abc;
    cursor: pointer;
}
.nav ul{
    margin-left: 90px;
    width: 1200px;
    margin: 0 auto;
}
.nav li:hover{
    color: bisque;
}
.nav li a:hover{
    color: bisque;
}
.content{
    width: 1200px;
    margin: 0 auto;
}
.content1{
    margin-top: 50px;
}
.content1 img{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    border: 4px solid #fff;
}
.content1Tit{
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 60px;
    text-align: left;
    color: #fff;
    position: relative;
}
.spanline{
    width: 170px;
    height: 6px;
    background: #d34702;
}
.txts{
    color: #dfdfe3;
    line-height: 1.5;
    font-size: 16px;
    padding: 30px 0 0 0;
    word-break:break-all
}
.lineH{
    line-height: 1.5;
}
td{
    padding: 0 0 0 10px;
    font-size: 20px;
}
.ren{
    font-size: 24px;
    margin-top: 20px;
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ren img{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    border: 4px solid #fff;
}
.ren p{
    padding-top: 20px;
    line-height: 1.5;
}
.imgleft{
    height: 450px;
    display: flex;
    align-items: center;
}
.imgleft img{

}
.imgb{
    float: left;
}
.tbs{
    width: 800px;
    padding: 0 0 0 30px;
}
.imgright .imgrb{

}
.imgright{
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tbsl{
    width: 845px;
}
.imgright1{
    display: none;
}
a{color:#c2f2f7}

@media(max-width:1200px){
	.txts{
        font-size: 42px;
        margin-top: 36px;
    }
    .content1Tit p{
        padding: 0 20px;

    }
    td{
        font-size: 35px;
    }
    .ren{
        display: flex;
        flex-direction: column;
        width: 96%;
        font-size: 38px;
        margin-top: 100px;
    }
    .ren p{
        margin-top: 42px;
    }
    .flexBox{
        display: flex;
        flex-direction: column;
    }
    .texts{
        font-size: 38px;
        width: 96%;
    }
    .tsp{
        font-size: 42px !important;
    }
    .imgleft{
        display: flex;
        flex-direction: column;
        height: auto;
        margin-top: 100px;
    }
    .tbs{
        width: 98%;
    }
    .lineH{
        font-size: 42px !important;
        text-align: center !important;
        margin-top: 30px;
    } 
    .spanline{
        margin-left: 20px;
    }
    .imgright{
        height: auto;
        display: flex;
        flex-direction: column;
        margin-top: 100px;
    }
    .abimg{
        display: block !important;
    }
    .baimg{
        display: none !important;

    }
    .tbsl{
        width: 98%;
    }
    .content1Tit :nth-child(1){
        /* margin-top: 100px; */
    }
    .mt{
        margin-top: 100px;
    }
    .nav{
        height: 100px;
    }
    .nav li{
        font-size: 40px;
        line-height: 100px;
    }
    .lineH:last-child{
        margin-bottom: 100px;
    }
}


@media(max-width:768px){
    
}
@media(max-width:375px){
    
}